.contacts:after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;


    background-color: rgb(167, 134, 43);
    opacity: 1;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.3s ease-in-out 0s;
}

.container {
    position: absolute;
    left: 5%;
    margin-top: 5.5%;

    background-color: #000000d5;
    height: 120vh;
    width: 90%;
}

.title {
    position: absolute;
    margin-top: 8.5%;
    left: 6.9%;
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.header-content {
    display: block;
    text-align: end;
    position: relative;
    right: 10vh;
}

.-loc {
    margin-left: 49%;
    top: 12%;
    position: absolute;
    width: 47%;
    height: 13%;
    background-color: rgba(255, 255, 255, 0.08);
}

.-vk-inst {
    margin-top: 10%;
    margin-left: 49%;
    top: 12%;
    position: absolute;
    width: 47%;
    height: 13%;
    background-color: rgba(255, 255, 255, 0.08);

}

.info-img{ 
    font-size: 24px;
    color: rgb(227, 177, 39);
    border-radius: 50%;
    padding: 25px;
    float: left;
    margin-top: 3.5%;
    margin-left: 3%;
    background: rgba(255, 255, 255, 0.1);
}

.info-img:hover{
    transition: 0.2s;
    color:rgb(255, 209, 83);
    cursor: pointer;
    padding: 25.5px;
}

.info-h2{
    position: absolute;
    top: 10%;
    left: 17%;
}

.info-h3{
    font-size: 25px;
    position: absolute;
    top: 23%;
    left: 18%;
}

.info-h3:hover{
    font-size: 25.1px;
    transition: 0.2s;
    cursor: pointer;
}

.info-vk{
    width: 100%;
    height: 100%;
    width: 10%;
    position: absolute;
    top: 50%;
    left: 18%;
}


.info-inst {
    width: 100%;
    height: 100%;
    width: 5%;
    position: absolute;
    top: 50%;
    left: 24%;
}

.info-inst:hover{
    width: 5.1%;
    transition: 0.2s;
}

.info-vk:hover{
    width: 5.1%;
    transition: 0.2s;
}

.-mail {
    margin-left: 0.5%;
    top: 12%;
    position: absolute;
    width: 47%;
    height: 13%;
    background-color: rgba(255, 255, 255, 0.08);
}


.-tg {
    margin-left: 0.5%;
    top: 9%;
    position: absolute;
    width: 47%;
    height: 13%;
    background-color: rgba(255, 255, 255, 0.08);
    margin-top: 12%;
}

.message{
    position: absolute;
    margin-top: 25%;
    left: 2%;
    height: 54%;
    width: 95.6%;
    background-color: rgba(255, 255, 255, 0.08);
}

input{
    outline: none;
    box-shadow: none;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.321);
    background: #ffffff05;
}

.name-message{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 47%;
    height: 10%;
}

.email-message{
    position: absolute;
    top: 5%;
    left: 50.8%;
    width: 47%;
    height: 10%;
}

.title-message{
    position: absolute;
    top: 20%;
    left: 2%;
    width: 95.8%;
    height: 10%;
}

.comment-message{
    position: absolute;
    top: 35%;
    left: 2%;
    width: 95.8%;
    padding-bottom: 15%;
}



.btn{
    background: #1e90ff;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
    font-size: 20px;
    position: absolute;
    top: 84%;
    left: 45%;
}
.btn:hover{
    background: #0079f2;
    cursor: pointer;   
}