<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главнaя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}">
    <link rel="shortcut icon" href="static/css/img/icon.png" type="image/png">
</head>
<body>

<header>

    <ul class="header-ul">
        <div class="header-content">
            <li class="header-li main"><a href="/main">Главнaя</a></li>
            <li class="header-li nav-header"><a href="/enter">Вход</a></li>
            <li class="header-li contacts"><a href="/contacts">Контакты</a></li>
        </div>


    </ul>
</header>
<div class="wrapper">
    <div class="container">

    </div>

</div>

</body>
</html>